@charset "utf-8";

/* main text background color */
.bAn, .bAt, .bAt>tbody, .bAt>tbody>tr {
    background-color:rgb(31, 30, 30) !important;
}

/* Title */
.ha>.hP {
    color: silver !important;
}

/* From */
.hx .gD {
    color: silver !important;
}

/* To */
.hx .hb {
    color: silver !important;
}

/* Receive time */
.ig .g3, .hI .g3, .iv .g3 {
    color: rgb(143, 143, 143) !important;
}

/* main text */
.a3s {
    color: silver !important;
}

/* Quotation message */
.im {
    color: rgb(196, 169, 197) !important;
}

/* reply button */
.amr {
    width: 0 !important;
}


/* shortcut buttons backgroung */
    /* star */
    .bi4>.T-KT {
        background-color: slategray !important;
    }

    /* reply & other  */
    .acX>.L3.aaq, .acX>.L3.aap {
        background-color: slategray !important;
    }

    /* printer & open new window */
    .hk>.L3 {
        background-color: slategray !important;
    }